*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color:#FFEFEF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow-y:scroll ; */
}

.header{
    background-color: #FED7D7;
    height: 9vh;
    display: flex;
    align-items: center;
}

label{
    display:none;
}
#toggle{
    display: none;
}

.logo{
   width: 50px;
   border-radius: 15px; 
   margin-left: 5px;

}
.title{
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-left: 2px;
}

.lista{
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    gap: 100px;
    font-weight: 500;  
    position:absolute; 
    left: 46%;
    margin-top: 20px;
    /* overflow: hidden; */
   
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    overflow: hidden;
    
}

h1{
    font-family: Prata;
    margin-right: 2%;
    margin-top: 5%;
    
}

.pjesa-1{
    font-family: Prata;
    align-items: center;
    margin-left: 30px;
    margin-right: 700px;
    
   
}

.firstPiece{
    width: 25%;
    display: flex;
    float: right;
    position: absolute;
    top: 15%;
    left: 65%; 
    padding-top: 5px;
}

h2{
   font-family: Prata;
   padding-top: 10px;
   margin-left: 1060px;
}




.ourFirstBuilding{
    width: 30%;
    display: flex;
    float: right;
    position: absolute;
    top: 95%;
    right: 65%;
    padding-top: 10px;
}

h3{
    font-family: Prata;
    padding-top: 10px;
    margin-left: 250px;
    padding-bottom: 100px;
}



.pjesa-2{
    font-family: Prata;
    align-items: center;
    margin-right: 30px;
    margin-left: 600px;
    padding-top: 60px;
}

.pjesa-3{
    font-family: Prata;
    align-items: center;
    margin-right: 30px;
    margin-left: 600px;
    padding-top: 120px;
}

.ourBuildingNow{
    width: 30%;
    display: flex;
    float: right;
    position: absolute;
    top: 160%;
    right: 65%;
    padding-top: 10px;
}

@media screen and (max-width:900px) {
    label{
      display: inline-block;
      margin-left: 60%;
      font-size: 25px;
      cursor: pointer;
  }

  .quota{
    font-size: 30px;
  }
  .ribbon{
    width: 300px;
  }

  .lista{
    display: none;
    text-align: center;
    height: 300px;
    margin-top: 355px;
    margin-left: 108px;
    background-color: #849EFD;
    width: 200px;
    padding-top: 40px;
}
.lista li{
    margin: 20px;
}

h1, p{
    font-size: 20px;
}

}

.f{
    background-color: #FED7D7 ;
    width: 100vw;
    
   }
   
   .fotoja{
    width: 50px;
    display: flex;
    position: relative;
    left: 47%;
    margin-top: 10%;
    padding-top: 1%;
   }
   
   .emrilogos{
    width: 11%;
    position: relative;
    left: 45%;
    color: white;
    font-family: Poppins;
    font-size: larger;
    font-weight: bold;
    margin: 0;
   }
     
   #copy{
       color: #6e6b6b;
       position: relative;
       left: 38%;
       font-size: 12px;
       margin: 0;
   }
   
   .ff, .linka{
      width: 15%;
       position: relative;
       left: 39%;
       
   }

