*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color:#FFEFEF;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow-y:scroll ; */
}

.header{
    background-color: #FED7D7;
    height: 9vh;
    display: flex;
    align-items: center;
}

label{
    display:none;
}
#toggle{
    display: none;
}

.logo{
   width: 50px;
   border-radius: 15px; 
   margin-left: 5px;

}
.title{
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-left: 2px;
}

.lista{
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    gap: 100px;
    font-weight: 500;  
    position:absolute; 
    left: 46%;
    margin-top: 20px;
    /* overflow: hidden; */
   
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    overflow: hidden;
    
}


h1{
    margin-left: 40%;
    color: black;
    
}

.container {
    display: flex;
    justify-content: center;
    /* position: relative;
    left: 14%;
    top: 18%; */
    border-radius: 10%;
    

    
}


#label{
    display: block;
    font-size: 15px;

}

#register{
    text-decoration: underline;
    color: black;
    font-size: 15px;
    position: relative;
    left: 38%;
}

#form{
    width: 400px;
    height: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color:#FED7D7;
    border-radius: 10%;
    font-size:15px;
}

#form h1 {
    color: black;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding-bottom: 20px;
}

#form button{
    padding: 10px;
    font-size: 15px;
    width: 40%;
    color: white;
    background-color:#FFEFEF;
    color: black;
    border: none;
    border-radius: 5%;
    margin: 0  0  0 30% ; 
    cursor: pointer;
  
    
}

.inputctrl{
    display: flex;
    flex-direction: column;
}

.inputctrl input{
    border: 2px solid white;
    border-radius: 5%;
    display: block;
    font-size:15px ;
    padding: 2px;
  

}

.inputctrl input:focus {
    outline: 0 ;
}

.inputctrl.succes input {
    border-color: greenyellow;
}

.inputctrl.error input {
    border-color: red;

}

.inputctrl .error{
    color: red;
    font-size:8px;
    height: 13px;
    
}


.f{
    background-color: #FED7D7 ;
    width: 100vw;
    margin-top: 600px;
    
   }
   
   .fotoja{
    width: 50px;
    display: flex;
    position: relative;
    left: 47%;
    margin-top: 10%;
    padding-top: 1%;
   }
   
   .emrilogos{
    width: 11%;
    position: relative;
    left: 45%;
    color: white;
    font-family: Poppins;
    font-size: larger;
    font-weight: bold;
    margin: 0;
   }
     
   #copy{
       color: #6e6b6b;
       position: relative;
       left: 38%;
       font-size: 12px;
       margin: 0;
   }
   
   .ff, .linka{
      width: 15%;
       position: relative;
       left: 39%;
       
   }